---
layout: default
---

{% assign i18n = site.data.i18n[site.lang][page.i18n].frontmatter %}

<header class="page-banner text-center relative overflow-hidden py-20">
  <div class="py-8">
    <h1 class="animated fadeInDown page-title text-white mt-1 mb-1">
      {% if i18n.bannerTitle %} {{ i18n.bannerTitle | escape }} {% else if
      page.bannerTitle %} {{ page.bannerTitle | escape }} {% else %} {{
      page.title | escape }} {% endif %}
    </h1>
    {% if i18n.subTitle %}
    <div class="page-subtitle text-white mb-1">
      {{ i18n.subTitle | escape }}
    </div>
    {% else if page.subTitle %}
    <div class="page-subtitle text-white mb-1">
      {{ page.subTitle | escape }}
    </div>
    {% endif %} {% if i18n.bannerImage %}
    <img
      class="absolute pin"
      src="{{ i18n.bannerImage | relative_url }}"
      alt="banner image"
    />
    {% else if page.bannerImage %}
    <img
      class="absolute pin"
      src="{{ page.bannerImage | relative_url }}"
      alt="banner image"
    />
    {% endif %}
  </div>
</header>
<div class="page-content" aria-label="Content">
  <div class="wrapper mt-16 pb-20">{{ content }}</div>
</div>

<style>
  .page-banner {
    background-color: rgba(46, 62, 128, 0.75);
  }

  .page-banner img {
    z-index: -1;
    left: 25%;
    top: 25%;
    transform: translate(-25%, -25%);
    width: 100%;
  }
</style>
