@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Piazzolla:wght@300;400;500;600;700&family=Flow+Rounded&family=IBM+Plex+Sans:wght@100;300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/brands.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", sans-serif;
}

.font-flow {
  font-family: "Flow Rounded", cursive;
}

.rvn--navbar_brand {
  font-family: "Piazzolla", serif;
}

.page-banner {
  background: rgba(46, 62, 128, 0.75);
  background-position: center center;
  background-size: cover;
  color: #fff;
}
